/* Base CSS for overall website */
h1 {
  font-size: 50px;
  font-weight: 400;
}
h2 {
  font-size: 30px;
  font-weight: 350;
}
h3 {
  font-size: 20px;
  font-weight: 350;
  text-align: left;
  color: #4d6a2f;
  margin-bottom: 5px;
}
h4 { 
  font-size: 15px;
  font-style: italic;
  font-weight: normal;
  margin-top: 5px;
}
h1, h2 {
  text-align: center;
  color: #4d6a2f;
}
p, h4, li {
  font-size: 15px;
  color: #404040;
  letter-spacing: 1px;
}
body{
  background-color: #f2f2f2;
  margin: 0;
  font-family: Calibri, sans-serif;
}
header {
  padding: 40px;
  text-align: center;
  background-image: url('images/header_pattern.jpg');
  /* image source: https://www.123rf.com/photo_69000301_stock-vector-white-neutral-seamless-pattern-for-modern-design-in-flat-style-tileable-geometric-vector-background-.html */
}
a {
  text-align: left;
  font-size: 14px;
  font-weight: normal;
  color: #4d6a2f; 
}
#about, #education, #keyskills, #experience, #projects {
  max-width: 1000px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.aboutbackground, .educationbackground, .keyskillsbackground, .experiencebackground, .projectsbackground {
  padding: 20px;
  border-top: 1px solid #404040;
}
.educationbackground, .experiencebackground {
  background-color: #d9d9d9;
}
.educationitem, .keyskillsitem, .experienceitem {
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #404040;
  background-color: whitesmoke;
  box-shadow: 0 4px 8px grey;
}
.gallery {
  border: 1px solid #909090;
  box-shadow: 0 4px 8px grey;
  margin: 10px;
}
.gallery:hover {
  border: 1px solid #404040;
  transition: 0.25s ease;
}
.gallery img:hover {
  opacity:0.5;
  transition: 0.25s ease;
}
.gallery img {
  width: 100%;
  height: auto;
}
p.desc {
  font-size: 12px;
  color: #404040;
  text-align: center;
}
* {
  box-sizing: border-box;
}
.responsive {
  padding: 10px;
  float: left;
  width: 50%;
}
@media only screen and (max-width: 700px) {
  .responsive {
    width: 100%;
    margin: 10px;
  }
}
@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/* END of base CSS */

/* NAVBAR container and contents */
.navbar { 
  /* base format derived from w3schools.com/css/tryit.asp?filename=trycss_navbar_horizontal_black */
  padding: 5px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #595959;
  border-top: 1px solid #404040;
}
.navbar a {
  display: block;
  color: whitesmoke;
  padding: 10px 20px 10px 20px; 
  text-align: center;
  font-size: 18px;
  text-decoration: none;
  border-radius: 7px;
}
/* navbar style on hover */
.navbar a:hover {
  background-color: whitesmoke;
  color: #595959;
  transition: 0.25s ease;
}
/* END of navbar */

/* BACK TO TOP button */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-style: none;
  background-color: #4d6a2f;
  color: whitesmoke;
  cursor: pointer;
  padding: 15px;
  border-radius: 7px;
  font-size: 14px;
  box-shadow: 0 4px 8px grey;
}
/* END of back to top button */

/* FOOTER */
footer {
  margin-top: 20px;
  padding: 20px;
  color: whitesmoke;
  background-color: #595959;
}
p.information {
  padding: 20px;
  font-size: 12px;
  color: whitesmoke;
}
.container {
  float: center;
  width: 100%;
}
/* END of footer */

/* END of CSS */
